<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kf stats - <%= steamID64 %></title>
</head>
<body>
    <%= steamID64 %> <br/>
    <%= kills.total %> <br/>
    <%= kills.headshot %> <br/>
    <%= kills.stalker %> <br/>
    <%= kills.bloat %> <br/>
    <%= kills.siren %> <br/>
    <%= damageHealed %> <br/>
    <%= totalZedTime %> <br/>
    <%= weldingPoints %> <br/>
    <%= prestige.medic %> <br/>
    <%= prestige.support %> <br/>
    <%= prestige.sharpshooter %> <br/>
    <%= prestige.commando %> <br/>
    <%= prestige.berserker %> <br/>
    <%= prestige.firebug %> <br/>
    <%= prestige.demo %> <br/>
</body>
</html>